@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    max-width: 400px;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 50px greenyellow;
    border-radius: 20px;
    padding: 40px;
    backdrop-filter: blur(5px);
}

.wrapper:hover{
    animation: animate 1s linear infinite;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(Resources/smart-farming-technology-stockcake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
}

h2{
    font-size: 30px;
    color: white;
    text-align: center;
}

.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px soild black;

}

.input-group label{
    position:absolute;
    top: 20%;
    left:5px;
    padding: 0 5px;
    transform:tranlateY(-50%) ;
    font-size: 16px;
    color: greenyellow;
    pointer-events: none;
    transition: .5s ;

}

.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color:white;
    padding: 10px 10px;
    background:transparent;
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
   
}

.input-group input:focus {
    border-bottom: 2px solid greenyellow; 
  }

.input-group input:focus~label,
.input-group input:not(:placeholder-shown)~label{
    top: -15px;
}

.remember{
    margin: -5px 0 15px 4px;
}

.remember label{
    color: #fff;
    font-size: 14px;
}

button{
    position: relative;
    width: 100%;
    height: 40px;
    background: greenyellow;
    box-shadow: 0 0 10px darkgreen;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.login-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.login-link p{
    color: #fff;
}

.login-link p a {
    color: greenyellow;
    text-decoration: none;
    font-weight: 500;
}

.login-link p a:hover{
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;         /* Center vertically */
    padding: 20px;               /* Space around */
    overflow-y: auto;  
}
