nav {
    animation: navbar 50s infinite alternate;
}


@keyframes navbar {
    0% {
        background-color: rgba(1, 45, 21, 0.7);
        
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}

.body {
    background-image: url(Resources/background.jpg);
    margin: 0;
    height: 100vh;
    background-image: url('Resources/background.jpg');
    background-size: contain;
    /* or use 'cover' if you want full fill */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Resources/);
    animation-name: background;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
    padding-bottom: 120px;
}



@keyframes background {
    0% {
        background-image: url(Resources/background.jpg);
        background-size: 100% auto;
    }

    30% {
        background-image: url(Resources/background1.jpg);
        background-size: 100% auto;
    }

    60% {
        background-image: url(Resources/background2.jpg);
        background-size: 100% auto;
    }

    80% {
        background-image: url(Resources/background3.png);
        background-size: 100% auto;
    }

    100% {
        background-image: url(Resources/background4.jpeg);
        background-size: 100% auto;
    }
    
}



